@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-inputs {
    @apply w-full p-1 border-b-2 rounded-sm border-stone-300 bg-stone-200 text-stone-600 focus:outline-none focus:border-stone-600;
  }

  .buttonClass {
    @apply px-4 py-2 text-xs md:text-base rounded-md bg-stone-700 text-stone-400 hover:bg-stone-600 hover:text-stone-100;
  }
}
